.linkclass:link {
    text-decoration: none !important;
  }
  
  .linkclass:visited {
    text-decoration: none !important;
  }
  
  .linkclass:hover {
    text-decoration: none  !important;
  }
  
  .linkclass:active {
    text-decoration: none  !important;
  }
  